h1 {
  color: white
;
  font-family: Helvetica, sans-serif;
}


.nav-link.disabled { color: #ec0c0a !important}}

.navbar-brand { color:blue !important; }

body {
  background-color:#660000
;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: auto;
  background-color: #595959;
  padding: 10px;
  grid-gap: 10px;
}
